.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 40px;
}

.floating-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation: floatAnimation 5s ease-in-out infinite;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
